<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About David</title>
    <link rel="stylesheet" href="../index.css" />
</head>
<body>
    <header>
        <h1>David Akinola</h1>
        <div>
            <a href="home.html"> Bio </a>
            <a href="applicationForm.html"> Apply </a>
        </div>
    </header>
    <main>
        <form action="">
            
        </form>
    </main>
</body>
</html>