<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About David</title>
    <link rel="stylesheet" href="../index.css" />
</head>
<body>
    <header>
        <h1>David Akinola</h1>
        <div>
            <a href="../home.html"> Bio </a>
            <a href="./applicationForm.html"> Apply </a>
        </div>
    </header>
    <main>
        <form action="">
            <section>
                <div>
                    <div>
                      <label for="firstName" title="First Name">First Name</label>
                    </div>
                    <div>
                      <input
                        max="2023-10-03"
                        type="text"
                        placeholder="Enter first name"
                        id="firstName"
                        aria-required="true"
                        value=""
                      />
                    </div>
                </div>
                <div>
                    <label for="lastName" title="Last Name">Last Name</label>
                  </div>
                  <div>
                    <input
                      max="2023-10-03"
                      type="text"
                      placeholder="Enter last name"
                      id="lastName"
                      aria-required="true"
                      value=""
                    />
                </div>
                <div>
                    <label for="gender" title="Gender">Gender</label>
                </div>
                <div>
                    <select
                        id="gender"
                        placeholder="Select Gender"
                        autocomplete="off"
                        role="combobox"
                        aria-expanded="false"
                        aria-haspopup="listbox"
                        aria-owns="gender_list"
                        aria-autocomplete="list"
                        aria-controls="gender_list"
                        aria-activedescendant="gender_list_0"
                        aria-required="true"
                        value=""
                    />
                </div>
                <div>
                    <label for="dateofbirth" title="Date of Birth">Date of Birth</label>
                </div>
                <div>
                    <input
                    max="2023-10-03"
                    type="date"
                    placeholder="Select age group"
                    id="dob"
                    aria-required="true"
                    value=""
                    />
                </div>
                <div>
                    <label for="emailaddress" title="Email Address">Email Address</label>
                  </div>
                  <div>
                    <input
                      max="2023-10-03"
                      type="text"
                      placeholder="Email Address"
                      id="email"
                      aria-required="true"
                      value=""
                    />
                </div>
                <div>
                    <label for="educationlevel" title="Education Level">Education Level</label>
                  </div>
                  <div>
                    <select
                      max="2023-10-03"
                      type="search"
                      placeholder="Select level of Education"
                      id="edu"
                      aria-required="true"
                      value=""
                    />
                </div>
                <div>
                    <label for="Country" title="Country">Country</label>
                  </div>
                  <div>
                    <select
                      max="2023-10-03"
                      type="search"
                      placeholder="Select Country"
                      id="Country"
                      aria-required="true"
                      value=""
                    />
                </div>
                <div>
                    <label for="State" title="State">State/City of Residence</label>
                  </div>
                  <div>
                    <input
                      max="2023-10-03"
                      type="search"
                      placeholder="Enter State"
                      id="State"
                      aria-required="true"
                      value=""
                    />
                </div>
                <div>
                    <label for="Empolyment" title="Empolyment">Empolyment Status</label>
                  </div>
                  <div>
                    <select
                      max="2023-10-03"
                      type="text"
                      placeholder="Select Empolyment Status"
                      id="Empolyment"
                      aria-required="true"
                      value=""
                    />
                </div>
                <div>
                    <label for="Phone" title="Phone">Phone Number</label>
                  </div>
                  <div>
                    <input
                      max="2023-10-03"
                      type="tel"
                      placeholder="Enter Phone Number"
                      id="Phone"
                      aria-required="true"
                      value=""
                    />
                </div>
                <div>
                    <label for="Course" title="Course">Choose Course Of Study</label>
                  </div>
                  <div>
                    <select
                      max="2023-10-03"
                      type="search"
                      placeholder="Select Course"
                      id="Course"
                      aria-required="true"
                      value=""
                    />
                </div>
                <div>
                    <label for="channel" title="channel">How did you hear about us?</label>
                  </div>
                  <div>
                    <select
                      max="2023-10-03"
                      type="search"
                      placeholder="Select channel"
                      id="channel"
                      aria-required="true"
                      value=""
                    />
                </div>
                <div>
                    <label for="Scholarship" title="Scholarship">Scholarship/Discount Code (optional)</label>
                  </div>
                  <div>
                    <input
                      max="2023-10-03"
                      type="text"
                      placeholder="Scholarship or Discount"
                      id="Scholarship"
                      aria-required="true"
                      value=""
                    />
                </div>
               <p>By clicking continue, I agree to  Terms of Use and acknowledge that I
                have read the  Privacy Policy.</p>
                <button>proceed</button>
            </section>
        </form>
    </main>
</body>
</html>